#### Implement	a	function	that	takes	as	input	three	variables,	and	returns	the	largest	of	the	three.		Do	this	without	using	the	Python	max()	function!	Make	one	version	without	any	local	variable	and	another	with	one	local	variable.	(hint:	it	might	be	easier	to	use	edit)

In [1]:
def largest(a, b, c):
    if a > b and a > c:
        return a
    if b > a and b > c:
        return b
    if c > a and c > b:
        return c

In [3]:
largest(4, 7, 1)

7

#### 2. Write	a	function	“centenario”	that	will	take	Name,	and	year	of	birth		as	inputs,	check	if	year	of	birth	is	intand	cast	it	to	intif	not,	and	print	name	together	with	the	text	explaining	when	the	person	is	to	have	100	years	(hint:	use	isinstance).

call	to	function:	centenario(Antonio,	1967).
output:	Antonio	will	reach	100	years	in	2067

In [4]:
def centenario(name, birthyear):
        intbirthyear = int(birthyear)
        newyear = 2019 + (100 - (2019-intbirthyear))
        print("%s will reach 100 years in %d" %(name, newyear))

In [5]:
centenario ("Fulanito", 1982)

Fulanito will reach 100 years in 2082

#### Write a function to calculate the number of words, number of lines, and length of a string the same way the wc command does in the command line

In [6]:
def calculate(mystring):
    characters = len(mystring)
    words = len(mystring.split())
    lines = len(mystring.splitlines())
    return characters, words, lines

In [7]:
calculate("esto son\ntres\n lineas y siete palabras")

(38, 7, 3)

#### Write a Python program to remove the nth index character from a string. If the input string is empty print warning.

In [15]:
def removeIndex(n, mystring):
    if mystring == "":
        print("Warning!")
    else:
        print (mystring[:n] + mystring[n+1:])

In [18]:
removeIndex(5, "Esto funciona")

Esto unciona

#### While	inside	python,	go	to	~/Data/opentraveldata/	and	list	the	files.	Repeat	the	same	for			/home/dsc/Data/us_dot/otpand	~/Data/us_dot/traffic/.	Use	the	list	of	visited	directories	from	dhistand	write	for	loop	which	will	return	for	each	visited	directory	its	name	and	number	of	files	inside.

In [25]:
%cd ../../DS_CL_files/opentraveldata/

/home/angelrps/git/DS_CL_files/opentraveldata

In [27]:
%ls -l

total 8028
-rw-rw-rw- 1 angelrps angelrps   18612 Nov 29 13:28 optd_aircraft.csv
-rw-rw-rw- 1 angelrps angelrps     460 Dec 11 10:46 optd_aircraft_10.csv
-rw-rw-rw- 1 angelrps angelrps    1581 Dec 11 11:11 optd_aircraft_new_format.csv
-rw-rw-rw- 1 angelrps angelrps  107306 Nov 29 13:28 optd_airlines.csv
-rw-rw-rw- 1 angelrps angelrps 8080005 Nov 29 13:28 optd_por_public.csv

In [28]:
%cd ../shell/

/home/angelrps/git/DS_CL_files/shell

In [29]:
%ls -l

total 616
-rw-rw-rw- 1 angelrps angelrps 627563 Nov 29 13:28 Finn.txt
-rw-rw-rw- 1 angelrps angelrps    237 Nov 29 13:28 Text_example.txt
-rw-rw-rw- 1 angelrps angelrps    237 Nov 29 13:28 Text_example.txt.copy

In [33]:
%dhist

Directory history (kept in _dh)
0: /home/angelrps/git/MasterDataScience/191122_CommandLine_Python
1: /home/angelrps/git/DS_CL_files/opentraveldata
2: /home/angelrps/git/DS_CL_files/shell

In [49]:
for i in _dh:
    wc = !(ls -l $i| wc -l)
    print(i, int(wc[0])-1)

/home/angelrps/git/MasterDataScience/191122_CommandLine_Python 3
/home/angelrps/git/DS_CL_files/opentraveldata 3
/home/angelrps/git/DS_CL_files/shell 3

#### Write	a	function	that	will	take	text	file	and	pattern	as	input	parameters,	and	return	the	number	of	occurancesof	case	insensitive	pattern	inside	a	text	(similar	to:	grep	-i–o	pattern	file	|	wc-l)

#### Open	Finn.txt		file,	read	lines	into	a	list.		Remove	trailing	white	spaces	from	each	line	.	Write	the	resulting	list	to	the	new	file.	How	many	lines	does	the	new	file	have?		(hint:	empty	list	is	made	with	[	]	)

#### Open	Finn.txt		file,	read	lines	into	a	list.	Create	a	new	version	of	Finn_nbl.txt	with	no	blank	lines.

#### Reset	the	workspace.	Obtain	the	difference	in	number	of	lines	between	original	Finn	file	and	and the	one	without	blank	lines		and	print	the	result.	(hint:	use	wc)

#### For	a	sequence	[1,	2,	3,	4,	5,	6,	7,	8	]	get	the	squared	values	using	the	lambda	function.

In [61]:
def square (x):
    for i in x:
        print(i**2)

In [62]:
sequence =  [1, 2, 3, 4, 5, 6, 7, 8 ]
result = map (lambda x: x**2,sequence)
print(result)

<map object at 0x7f93b7bb1890>

In [63]:
square(sequence)

1
4
9
16
25
36
49
64

#### Prepare a list with 10 names. Make a code that will put all vowels to capitals and every other character to lower letters

In [92]:
names = ["marcos", "pepe", "ANTONIO", "jesus", "arturo", "maria", "josefa", "belen", "angel", "jorge"]

In [95]:
def capitalizeVowel(name):
    newname =""
    for c in name:
        if c in "aeiouAEIOU":
            newname = newname + c.upper()
        else:
            newname = newname + c.lower()
    print (newname)

In [96]:
for n in names:
    capitalizeVowel(n)

mArcOs
pEpE
AntOnIO
jEsUs
ArtUrO
mArIA
jOsEfA
bElEn
AngEl
jOrgE

#### Prepare	again	a	list	with	10	names.	Make	a	function	with	two	input	variables:	list,	and	character;	that	returns	a	list	of	names	containing	one	or	more	of	input	characters	’s	inside	the	name.		4

In [98]:
names2 = ["marcos", "pepe", "ANTONIO", "jesus", "arturo", "maria", "josefa", "belen", "angel", "jorge"]

In [101]:
def namecontain(namelist, char):
    result = []
    for name in namelist:
        if char in name:
            result.append(name)
    return result

In [105]:
namecontain(names2, "j")

['jesus', 'josefa', 'jorge']

#### Reverse	word	order	from	the	input	string

In [165]:
def reverseorder(sentence):
    r = " ".join(reversed(sentence.split()))

    return r

In [166]:
reverseorder("palabra")

'palabra'

In [167]:
reverseorder("palabra en un solo sentido")

'sentido solo un en palabra'

#### Write	a	Python	function	that	takes	a	list	of	words	and	returns	the	length	of	the	longest	one.

In [173]:
words = ["federico", "flauta", "americano", "ordenadorrrrrrr", "raton", "bu"]

In [174]:
def longest(mylist):
    result = ""
    for w in mylist:
        if len(w) > len(result):
            result = w
    return result

In [175]:
longest(words)

'ordenadorrrrrrr'