#### Exercise

Write a function that takes a Series and returns the top 10% registers. In this case, earners. Test it with this Series:

```python
salaries = pd.Series([150000, 90000, 120000,30000,10000,5000,40000, 50000, 80000, 35000, 27000,14000, 28000, 22000,25000])
```

In [9]:
import numpy as np
import pandas as pd

salaries = pd.Series([150000, 90000, 120000,30000,10000,5000,40000, 50000, 80000, 35000, 27000,14000, 28000, 22000,25000])
salaries

0     150000
1      90000
2     120000
3      30000
4      10000
5       5000
6      40000
7      50000
8      80000
9      35000
10     27000
11     14000
12     28000
13     22000
14     25000
dtype: int64

In [16]:
salaries.rank(pct=True)

0     1.000000
1     0.866667
2     0.933333
3     0.533333
4     0.133333
5     0.066667
6     0.666667
7     0.733333
8     0.800000
9     0.600000
10    0.400000
11    0.200000
12    0.466667
13    0.266667
14    0.333333
dtype: float64

In [33]:
def top10(serie):
    sorted_serie = serie[serie.rank(pct=True) > 0.9]
    return sorted_serie

In [34]:
top10(salaries)

0    150000
2    120000
dtype: int64