In [1]:
import pandas as pd
import numpy as np

In [2]:
import bz2

#### Count the number of lines in Python for each file

In [3]:
!ls -l

total 1014108
-rw-rw-rw- 1 angelrps angelrps     50785 Jan  8 12:52  02-loading_and_saving_data_inclass.ipynb
-rwxrwxrwx 1 angelrps angelrps    173167 Jan  8 10:13  10-11_Python_AmadChall_v19.pptx
-rw-rw-rw- 1 angelrps angelrps     11510 Jan  8 15:14 'Amadeus Challenge_Test.ipynb'
-rwxrwxrwx 1 angelrps angelrps 554970670 Jan  8 12:57  bookings.csv.bz2
-rw-rw-rw- 1 angelrps angelrps      1346 Jan  8 14:40  bookings11.csv.bz2
-rwxrwxrwx 1 angelrps angelrps 483188920 Jan  8 10:21  searches.csv.bz2
-rw-rw-rw- 1 angelrps angelrps       364 Jan  8 13:06  testcsvfile.csv.bz2
-rwxrwxrwx 1 angelrps angelrps       165 Jan  8 10:19 '~$10-11_Python_AmadChall_v19.pptx'

In [4]:
!bzcat bookings.csv.bz2 | wc -l
#result was 10000011
#time processing 1' 28''

10000011

In [5]:
!bzcat searches.csv.bz2 | wc -l
#result was 20390198
#time processing 1' 30''

20390198

In [6]:
bookingsfile = bz2.open("./bookings.csv.bz2")
dfbookings = pd.read_csv(bookingsfile, sep='^')
len(dfbookings.index)
#time processing 2' 58''

/home/angelrps/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (7,8,27) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

10000010

In [7]:
searchesfile = bz2.open("./searches.csv.bz2")
dfsearches = pd.read_csv(searchesfile, sep='^')
len(dfsearches.index)
#time processing 6' 54''

/home/angelrps/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (40,41,42,44) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

20390198

#### Top 10 arrival airports in the world in 2013 (using the bookings file)

- Arrival airport is the column arr_port. It is the IATA code for the airport.
- To get the total number of passengers for an airport, you can sum the column pax, grouping by arr_port. Note that there is negative pax. That corresponds to cancelations. So to get the total number of passengers that have actually booked, you should sum including the negatives (that will remove the canceled bookings).
- Print the top 10 arrival airports in the standard output, including the number of passengers.

- Bonus point: Get the name of the city or airport corresponding to that airport (programatically, we suggest to have a look at GeoBases in Github)
- Bonus point: Solve this problem using pandas (instead of any other approach)

In [9]:
dfbookings[['arr_port','pax']]

          arr_port  pax
0         LHR      -1.0
1         CLT       1.0
2         CLT       1.0
3         SVO       1.0
4         SVO       1.0
...            ...  ...
10000005  MAA      -1.0
10000006  MAA       1.0
10000007  RDU       1.0
10000008  ORY       1.0
10000009  ORY       1.0

[10000010 rows x 2 columns]