In [1]:
import pandas as pd

In [4]:
top_airports=pd.read_json('http://127.0.0.1:5000/return_number/10')

In [5]:
top_airports.shape

(10, 3)

In [7]:
top_airports.head()

  arr_port    pax                            AirportName
0      LHR  88809                London Heathrow Airport
1      MCO  70930          Orlando International Airport
2      LAX  70530      Los Angeles International Airport
3      LAS  69630         McCarran International Airport
4      JFK  66270  John F. Kennedy International Airport